
@import (inline) "./../node_modules/normalize.css/normalize.css";
@import (inline) "./../node_modules/skeleton-css/css/skeleton.css";

body, html {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  font-size: 14px;
  color: #000;
  background-image: url(/assets/crossword.png);
}
.more {
  font-weight: bolder;
  font-size: 1em;
  a {
    text-decoration: none;
    color: #000;
  }
}
.less {
  color: #aaa;
}
.small {
  font-size: 0.8em;
}
.large {
  font-size: 1.2em;
}
.sidebar {
  margin-top: 8em;
  padding: 1em;
  .sidebarPosts {
    .postsTitle {
      font-size: 1.2em;
      color: #000;
    }
    font-size: 0.8em;
    color: #aaa;
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    a {
      color: #000;
    }
  }
}
.content {
  margin-top: 4em;
  .blog {
    margin-top: 1em;
    .post_date {
      color: #aaa;
      position: relative;
      top: 0.3em;
      margin-bottom: 1em;
      position: relative;
      top: -5px;
    }
    .post_content {
      h1 {
        font-size: 3em;
        margin-bottom: 0.1em;
      }
      h2 {
        font-size: 2.2rem;
        margin-bottom: 0.2em;
      }
      h3 {
        font-size: 1.6rem;
        margin-bottom: 0.3em;
      }
      h4 {
        font-size: 1.2rem;
        margin-bottom: 0.3em;
      }
      code {
        overflow-x: scroll;
      }
      .centered {
        margin: 0 auto;
        text-align: center;
        img {

        }
      }
    }
    .post_footer {
      text-align: center;
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }
}
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
