body, html {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  font-size: 14px;
  margin-top: 3em;
  color: #000;
}
.more {
  font-weight: bolder;
}
.less {
  color: #aaa;
}
.small {
  font-size: 0.8em;
}
.large {
  font-size: 1.2em;
}
.sidebar {
  margin-top: 5em;
  padding: 1em; 
  a {
    text-decoration: none;
  }
}
.content {
  padding-left: 1em;
  .post {
    h1 {
      font-size: 2em;
      margin-bottom: 0.2em;
    }
  }
}
